<div class="well">
  <div class="row-fluid">
    <div class="span6">
      <h2>Register</h2>

      <%= render 'form' %>

    </div>
    <div class="span4">
      <div class="login-button-left">
        <p>Already have an account?</p>
        <%= link_to "Login",new_user_session_path,:class=>"btn btn-info" %>
      </div>
    </div>
  </div>
</div>